.calendar-wrapper {
	display: flex;
	gap: 0.5rem;
}

.event-list {
	background-color: white;
	align-items: center;
	flex-basis: 25%;
}

.event-list--hidden {
	flex-basis: 0;
	display: none;
}

.event-list__date {
	background-color: teal;
	color: white;
	padding: 0.75rem;
	margin: 0;
	border-radius: 0.25rem;
	width: 100%;
}

.event-list__hint {
	color: grey;
	padding: 0.75rem;
	line-height: 140%;
	margin: 0;
	font-size: 0.8rem;
	text-align: center;
}
