.calendar__grid {
	display: grid;
	grid-template-columns: repeat(7, 1fr);
	grid-auto-rows: auto;
	padding: 2rem;
	gap: 0.25rem;
	background-color: #f2f2f2;
	box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
	margin: 0.5rem;
}

.calendar__cell {
	background-color: white;
	box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
}

.calendar__cell--weekday-name {
	height: 2rem;
	line-height: 2rem;
}

.calendar__cell--day {
	height: 12vh;
}

.cell__weekday-name {
	display: block;
	text-align: center;
}

.cell__day-number {
	text-align: center;
	font-size: 1rem;
	margin: 0;
	padding: 0.5rem;
}

.cell__day-number--today {
	background-color: rgba(0, 0, 0, 0.5);
	color: white;
	border-radius: 0.25rem;
}

.cell__event {
	margin: 0.25rem;
}

.cell__hour {
	font-weight: 500;
}

.cell__event-name {
	font-weight: bold;
}
