.calendar__grid {
	display: grid;
	grid-template-columns: repeat(7, 1fr);
	grid-auto-rows: auto;
	padding: 2rem;
	gap: 0.25rem;
	background-color: #f2f2f2;
	box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
	flex-basis: 100%;
}

.calendar__cell {
	background-color: white;
	box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
	padding: 0.25rem;
}

.calendar__cell:hover {
	box-shadow: 0 0 4px teal;
}

.calendar__cell--weekday-name {
	height: 2rem;
	line-height: 2rem;
}

.calendar__cell--day {
	height: 15vh;
    overflow: hidden;
}

.cell__weekday-name {
	display: block;
	text-align: center;
}

.cell__day-number {
	text-align: center;
	font-size: 0.9rem;
	padding: 0.5rem;
	width: 4ch;
	margin: 0 auto;
	border-radius: 50%;
}

.cell__day-number--today {
	background-color: teal;
	color: white;
}

.cell__event {
	margin: 0.25rem;
}

.cell__hour {
	font-weight: 500;
}

.cell__event-name {
	font-weight: bold;
}

.day__event{
	font-size: 0.8em;
    background: red;
    color: wheat;
    padding: 0.2em;
    border-radius: 0.2rem;
    margin: 0.2em 0;
	white-space: nowrap;
}

.day__event-red{
	background-color: red;
	border-left: 5px solid darkred ;
}

.day__event-blue{
	background-color: blue;
	border-left: 5px solid darkblue ;
}

.day__event-orange{
	background-color: orange;
	border-left: 5px solid darkorange ;
}

.day__event-green{
	background-color: green;
	border-left: 5px solid darkgreen ;
}