.calendar__grid {
	display: grid;
	grid-template-columns: repeat(7, 1fr);
	grid-auto-rows: auto;
	padding: 2rem;
	gap: 0.25rem;
	background-color: #f2f2f2;
	box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
	flex-basis: 100%;
}

.calendar__cell {
	background-color: white;
	box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
	padding: 0.25rem;
}

.calendar__cell:hover {
	box-shadow: 0 0 4px teal;
}

.calendar__cell--weekday-name {
	line-height: 2rem;
}

.calendar__cell--day {
	height: 12vh;
	overflow-y: scroll;

	position: relative;
}

.calendar__cell--day:hover > .cell__add-icon {
	display: block;
}

.cell__add-icon {
	width: 2rem;
	height: 2rem;
	position: absolute;
	top: 0.25rem;
	right: 0.25rem;

	display: none;
	opacity: 0.5;
}

.cell__add-icon:hover {
	opacity: 1;
}

.cell__weekday-name {
	display: block;
	text-align: center;
}

.cell__day-number {
	text-align: center;
	font-size: 0.9rem;
	padding: 0.5rem;
	width: 4ch;
	margin: 0 auto;
	border-radius: 50%;
}

.cell__day-number--today {
	background-color: teal;
	color: white;
}

.event-tag {
	margin: 0.25rem;
}

.event-tag__hour {
	font-weight: 500;
}

.event-tag__title {
	font-weight: bold;
}

.event-tag {
	font-size: 0.8rem;

	padding: 0.25rem;
	margin: 0.25rem;
	border-radius: 0.25rem;

	background: black;
	color: white;
	white-space: nowrap;
	cursor: pointer;
}

.bg-red {
	background-color: red;
	border-left: 5px solid darkred;
}

.bg-blue {
	background-color: blue;
	border-left: 5px solid darkblue;
}

.bg-orange {
	background-color: orange;
	border-left: 5px solid darkorange;
}

.bg-green {
	background-color: green;
	border-left: 5px solid darkgreen;
}
