.event-info {
	box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
	border-radius: 0.5rem;
	width: 25rem;
	margin: auto;
	background-color: white;
}

.event-info__header {
	background-color: teal;
	border-top-left-radius: 0.5rem;
	border-top-right-radius: 0.5rem;
	display: flex;
	gap: 1rem;
	padding: 0 1rem;
	align-items: center;
}

.event-info__date {
	flex-basis: 90%;
	color: white;
	font-size: 1.25rem;
	font-weight: bold;
}

.event-info__section {
	display: flex;
	align-items: flex-start;
	padding: 0.5rem 1rem;
	gap: 1rem;
}

.event-info__title {
	font-size: 1rem;
	font-weight: 500;
	margin: 0;
}

.event-info__data {
	margin: 0;
}

.event-info__data--row {
	display: flex;
	justify-content: space-between;
	flex-basis: 100%;
}

.event-info__label {
	font-style: italic;
}

.event__icon-top {
	width: 1.25rem;
	flex-basis: 5%;
	cursor: pointer;
}

.event__icon-left {
	width: 1rem;
}
