.event-info {
	box-shadow: 20px 20px 20px grey;
	border-radius: 0.5rem;
	width: 25rem;
	margin: auto;
	background-color: white;
}

.event-info__header {
	background-color: blue;
	border-top-left-radius: 0.5rem;
	border-top-right-radius: 0.5rem;
	display: flex;
	gap: 1rem;
	padding: 0 1rem;
	align-items: center;
}

.event-info__date {
	flex-basis: 90%;
	color: white;
	font-size: 1.25rem;
	font-weight: bold;
}

.event__icon-top {
	width: 1.5rem;
	flex-basis: 5%;
	cursor: pointer;
}

.event-info__section {
	display: flex;
	margin: 0.5rem;
	gap: 1rem;
}

.event__icon-left {
	width: 1rem;
	flex-basis: 7%;
}

.event-info__title {
	font-size: 1.5rem;
	flex-basis: 90%;
}

.event-info__description {
	flex-basis: 90%;
}

/* .event__icon-top:hover {
  width: 2rem;
} */
