.main__modal-info {
  box-shadow: 20px 20px 20px grey;
  border-radius: 0.5rem;
  width: 25rem;
  margin: auto;
  background-color: white;
}

.modal__type {
  background-color: blue;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  display: flex;
}

.event__date {
  flex-basis: 90%;
  color: white;
  font-size: 1.3rem;
  font-weight: bold;
  margin-left: 2rem;
}

.event__icon-top {
  width: 1.5rem;
  flex-basis: 5%;
  margin-right: 1rem;
}

.modal__flex {
  display: flex;
  margin: 0.5rem;
  gap: 1rem;
}

.event__icon-left {
  width: 1rem;
  flex-basis: 7%;
}

.info__title {
  font-size: 1.5rem;
  flex-basis: 90%;
}

.info__description {
  flex-basis: 90%;
}

/* .event__icon-top:hover {
  width: 2rem;
} */
